// Xcode settings for Woolsoft iOS projects, debug configuration

#include "common.xcconfig"

ONLY_ACTIVE_ARCH = YES
INFOPLIST_FILE = Zines/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.woolsoft.Zines
PRODUCT_NAME = Zines
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
BITCODE_GENERATION_MODE = marker
ENABLE_NS_ASSERTIONS = YES
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1
SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone
OTHER_SWIFT_FLAGS = -DDEBUG
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
DEVELOPMENT_ASSET_PATHS = "Zines/Preview Content"
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ENABLE_PREVIEWS = YES

DEVELOPMENT_TEAM = XXX
